# vim: ts=8 sts=4 sw=4 et ai si

from DWA.WorkArea import Product, Module

Product('sample', ['1.0', '*'], [
        Module(None, 'examples', 'sample')
        ],
        profile='sample-{version}',
        depends='gcc',
       )

Product('name-only-sample', ['*'], [
        Module(None, 'examples', 'sample'),
        Module(None, 'examples', 'sample-tests'),
        ],
        aliases='name-only-s',
        profile='name-only-sample-{version}',
        depends='gcc',
        name_only=True,
       )

